apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: genericserviceui
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lorenzolince/genericDeploy.git
    targetRevision: HEAD
    path: helmcharts/genericserviceui
    helm:
      valueFiles:
        - deployment_values.yaml
      parameters:
        - name: NEXTAUTH_URL
          value: https://generate-service.com
        - name: paipalSecret_Name
          value: paypal-dev
  destination:
    server: https://kubernetes.default.svc
    namespace: generate-service