apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: genericserviceui
  namespace: argocd   # Argo CD siempre gestiona sus apps desde este namespace
spec:
  project: generate-service
  source:
    repoURL: https://github.com/lorenzolince/genericDeploy.git
    targetRevision: HEAD   # o "main" si tu branch principal es main
    path: helmcharts/genericserviceui
    helm:
      valueFiles:
        - deployment_values.yaml
      parameters:
        - name: image.repository
          value: registry.llince.com/generate-service-ui
        - name: image.tag
          value: "5"
        - name: NEXTAUTH_URL
          value: "https://generate-service.com"
        - name: paipalSecret_Name
          value: "paypal-dev"
        - name: API_ENDPOINT
          value: "http://generatebackend"
  destination:
    server: https://kubernetes.default.svc
    namespace: generate-service
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    