apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: genericserviceui
  namespace: argocd   # Argo CD siempre gestiona sus apps desde este namespace
# trigger build Sat Dec 13 09:24:28 UTC 2025
spec:
  project: default
  source:
    repoURL: https://github.com/lorenzolince/genericDeploy.git
    targetRevision: HEAD   # o "main" si tu branch principal es main
    path: helmcharts/genericserviceui
    helm:
      valueFiles:
        - deployment_values.yaml
      parameters:
        - name: NEXTAUTH_URL
          value: https://generate-service.com
        - name: paipalSecret_Name
          value: paypal-dev
  destination:
    server: https://kubernetes.default.svc
    namespace: generate-service
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    