apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: generatebackend
  namespace: argocd
spec:
  project: generate-service
  source: 
      repoURL: https://github.com/lorenzolince/genericDeploy.git
      targetRevision: HEAD
      path: helmcharts/llince
      helm:
        valuesObject:
          fullnameOverride: "generatebackend"
          replicaCount: 2
        
          image:
            repository: registry.llince.com/generate-service-backend
            tag: 20
        
          service:
            enabled: true
        
          ingress:
            enabled: true
            pathType: Prefix
            annotations:
               nginx.ingress.kubernetes.io/rewrite-target: /$1
               nginx.ingress.kubernetes.io/ssl-redirect: "false"
               nginx.ingress.kubernetes.io/use-regex: "true"
            hosts:
              - host: genericservice.com
                paths:
                  - /(.*)
          hostAliases:
            enabled: true
            items:
              - ip: "192.168.0.38"
                hostnames:
                  - db.oracle.lince.com
                  - db.sqlserver.lince.com
                  - db.mysql.lince.com
                  - db.mariadb.lince.com
                  - db.postgresql.lince.com
              - ip: "192.168.0.7"
                hostnames:
                  - jenkins.lince.com
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
        
        valueFiles:
          - default_value.yaml
          - secrets://https://raw.githubusercontent.com/lorenzolince/generate-services-k8/main/app/generate-services/backend/values.secrets.yaml
        parameters:
          - name: envData.LIQUIBASE_RUN
            value: "false"
          - name: envData.SFTP_REMOTE_PATH
            value: ./files/compile
          - name: envData.SFTP_DELAY
            value: "5000"
          - name: envData.SFTP_PER_POLL
            value: "10"
          - name: envData.SFTP_TIME_OUT
            value: "30000"
          - name: envData.NEXTAUTH_URL
            value: http://genericserviceui
          - name: envData.API_JAVA_OPTION
            value: >
              -Xms1g -Xmx1g -Xss512k -XX:+UseG1GC
              -XX:MaxGCPauseMillis=200
              -XX:+AlwaysPreTouch
              -XX:+ParallelRefProcEnabled
              -XX:InitiatingHeapOccupancyPercent=30
              -XX:+HeapDumpOnOutOfMemoryError
              -XX:HeapDumpPath=/tmp/heap-dump.hprof
              -Duser.timezone=UTC

  destination:
    server: https://kubernetes.default.svc
    namespace: generate-service

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
